<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Words List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h1>Words list</h1>



<div class="mx-5">
    <table class="table table-striped table-bordered">
        <thead >
        <tr>
            <th>WORD</th>
            <th:block th:each="language : ${languages}">
            <th th:text="${language.name}"></th>
            </th:block>

        </tr>


        </thead>
       <tbody class="">



       <tr th:each="word : ${words}" >
           <td th:text="${word.text}"></td>
           <th:block  th:each="language : ${languages}">
<!--               <th:block th:each="translation: ${word.translations.?[language.id == __${languageID}__]}">-->
               <td>
               <th:block th:each="transl: ${word.translations}">


                        <div class="p-1 border border-primary rounded" th:if="${transl.language.id} == __${language.id}__">
                        <span th:text="${transl.text}"></span>
                            <a  th:href="@{/translations/delete(translationId=${transl.id})}"
                                onclick="if (!(confirm('Are you sure you want to delete this translation?'))) return false"
                                class="btn btn-outline-danger mx-2 p-1 float-right"> X </a>
                        </div>


               </th:block>
                   <div class="input-group mb-3">
                       <form action="#" th:action="@{/translations/save}" method="POST">
                           <input type="hidden" name="wordId" th:value="${word.id}">
                           <input type="hidden" name="languageId" th:value="${language.id}">
<!--                           <input type="hidden" th:field="*{word}" th:value="${word}">-->
<!--                           <input type="hidden" th:field="*{language}" th:value="${language}">-->

                       <input type="text" name="text" class="form-control" placeholder="..." aria-label="Add-translation" aria-describedby="Add-translation">
                       <div class="input-group-append">
                           <button type="submit" class="btn btn-outline-secondary">Add</button>
                       </div>
                       </form>
                   </div>
               </td>

           </th:block>



        </tr>

       </tbody>




    </table>
</div>

</body>
</html>